<div id="<%= dom_id livro %>">
  <p>
    <strong>Nome:</strong>
    <%= livro.nome %>
  </p>

  <p>
    <strong>Editora:</strong>
    <%= livro.editora %>
  </p>

  <p>
    <strong>Autor:</strong>
    <%= livro.autor %>
  </p>

  <p>
    <strong>Preco:</strong>
    <%= livro.preco %>
  </p>

</div>
